<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>

    <logger name="java.sql" level="error" />
    <logger name="jdbc.sqlonly" level="debug" />
    <logger name="jdbc.sqltiming" level="debug" />
    <logger name="jdbc.audit" level="error" />
    <logger name="jdbc.resultset" level="error" />

    <logger name="org.springframework" level="info" />

    <logger name="org.springframework.data" level="info" />

    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.type" level="TRACE" />
    <logger name="org.hibernate.type.BasicTypeRegistry" level="WARN" />

    <logger name="org.syaku" level="debug" />

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>